
<ccenter><h3> My Posted Problems</h3></ccenter>
 
 <div class="wrapper wrapper--w960">
            <div class="card card-4">
                <div class="card-body">
<% temp = @posted_problems.order("created_at DESC") %>
<!-- Problems ddetails -->
<% temp.each do |prob| %>
<div class="list-group">
  
  <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><%= prob.prob_title %></h4>
      <small class="text-muted"><%= distance_of_time_in_words(prob.created_at, Time.now) %></small>
    </div>
    <p class="mb-1"><%= prob.prob_subject %></p>
    <% @tag=Tag.find_by(problem_id: prob.id)%>
    <% if @tag!= nil %>
    <small class="text-muted">Payment :&nbsp;<%= @tag.payment%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internship :&nbsp;<%= @tag.internship%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Urgency :&nbsp;<%= @tag.urgency%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miscellaneous :&nbsp;<%= @tag.miscellaneous%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Branch :&nbsp;<%= @tag.branch%>&nbsp;&nbsp;&nbsp;&nbsp;Difficulty :&nbsp;<%= @tag.difficulty%>&nbsp;&nbsp;</small>
    <h5 align="right"><%= link_to('View Problem',view_problem_path(prob)) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to('View Requests',view_requests_path(prob),data: { confirm: 'Press Yes to Confirm?' }) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>

  </a>
  <% end %>
</div>
<% end %>
</div>
</div>
</br>
</div>