<body style="background-color: #f7f6f9;">
<div class="wrapper wrapper--w960">
            <div class="card card-4" >
                <div class="card-body">
                    <h2 class="title" align="center">PROFILE</h2>
                       <div style="width:500px">
                         
                        <div class="input-group">
                            <label class="label">UserName: </label>
                           			<div class="show">
                                	<p><%= @user.username%></p>
                                </div>
                        </div>  
<br>
                    <div class="input-group">
                            <label class="label">Date of Birth: </label>
                                <div class="show"><%=  @user.dob%></div>
                        </div>

<br>
            
                    <div class="input-group">
                            <label class="label">Email: </label>
                                <div class="show"><%= @user.email%></div>
                        </div>
<br>
                        <div class="input-group">
                            <label class="label">Edu: </label>
                                <div class="show"><%= @user.qualification%></div>
                        </div>
<br>
                        <div class="input-group">
                            <label class="label">Skills: </label>
                                <div class="show"><%= @user.skills%></div>
                        </div>
<br>    
                        <div class="input-group">
                            <label class="label">About: </label>
                               <div class="show"> <%= @user.about%></div>
                        </div>

                       
                    <%= image_tag(@user.avatar,:size => "200x200")%>
                           
                        
                       </div>
                </div>
            </div>
    </div>
</div>




