
<body style="background-color: #f7f6f9;">
<br>
<div class="wrapper wrapper--w780">
            <div class="card card-4" >
                <div class="card-body">
                    <h2 class="title" align="center">PROFILE</h2>
                    <div class="container1" align="right">
                        <% if current_user.id == @user.id %>
                        <%= link_to('Edit Profile', user_edit_profile_path(current_user)) %>
                        <% end %>
                        <br>
                    </div>
                    <div class="columndiv5">
                        <div class="container1">
                           <p> <label class="label">Username : </label><%= @user.username%></p>    	
                        </div>  
                    <div class="container1">
                            <p><label class="label">Date of Birth: </label>
                            <%=  @user.dob%></p>
                    </div>
                    <div class="container1">
                            <p><label class="label">Email: </label>
                                <%= @user.email%></p>
                        </div>
                        <div class="container1">
                            <p><label class="label">Edu: </label>
                                <%= @user.qualification%></p>
                        </div>
                        <div class="container1">
                            <p><label class="label">Skills: </label>
                                <%= @user.skills%></p>
                        </div>   
                        <div class="container1">
                            <p><label class="label">About: </label>
                                 <%= @user.about%></div></p>
                    </div>
                     <div class="columndiv1"> 
                     <div class="container1"> 
                        <br>
                    <%= image_tag(@user.avatar,:size => "164x164")%>
                    <br><br><br><br><br><br><br><br><br><br><br><br>
                    </div>
                </div>
      
                       </div>
                </div>
            </div>
    </div>
    <br>
</div>




