<style>
	input[type=text], textarea{
  width: 36%;
  padding: 5px;
  border: 2px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  resize: vertical;
  
</style>
<br>
<center>
	<div class="search-container">
        <%= form_with scope: :user_search, local: true, url:'/user_search' do |form| %>
        <%= form.text_field :search, placeholder: "Search Username.." %>
        <button type="submit" style="padding: 4px;">Search!</button>
        <% end %>
  </div>
</center>

  	<% @users.each do |user| %>
<<<<<<< HEAD
    <div class="halign">
  	   <div class="carduser">
          <center>
            <div class="containercard">
  	         <%= image_tag(user.avatar,:size => "200x200")%>
                <h4><b><%= user.username %></b></h4> 
                <p><%= user.email %></p> 
                  </div>
          </center>
	       </div>
    </div>
=======
  	<div class="carduser">
  	<center><div class="containercard">
    
  	<%= image_tag(user.avatar,:size => "200x200")%>
    <h4><b><%= user.username %></b></h4> 
    <p><%= user.email %></p> 
    </div></center>
	</div><br>
>>>>>>> 119022792b8a75f38bdd557e04683908347fe838

    <% end %>