<br>
<center>
	<div class="search-container">
        <%= form_with scope: :user_search, local: true, url:'/user_search' do |form| %>
        <%= form.text_field :search, placeholder: "Search Username.." %>
        <button type="submit" target="_blank"><i class="fa fa-search"></i></button>
        <% end %>
  </div>
</center>
  	<% @users.each do |user| %>
  	<div class="carduser">
  	<center><div class="containercard">
  	<%= image_tag(user.avatar,:size => "200x200")%>
    <h4><b><%= user.username %></b></h4> 
    <p><%= user.email %></p> 
    </div></center>
	</div><br>

    <% end %>