
<br>
 <div class="wrapper wrapper--w960">
            <div class="card card-4">
                <div class="card-body">
                    
                    <div class="fixed">
        <div class="hero-info">
        <h2 align = "center">View Requests</h2>
        <table class="table table-striped table-blue">
    <thead>
    <tr>
      <th class="text-center">#</th>
      <th class="text-center" >Problem Title</th>
      <th class="text-center">Access</th>
      <th class="text-center">Requested user</th>
      <th class="text-center">Review</th>



      
    </tr>
    </thead>

  <tbody>
    <% sno=1%>
  
<% @requests.each do |request| %>

<% prob = Problem.find(request.problem_id) %>
    <tr>
      <td scope="row" align="center"><%= sno %></td>
      <td align="center"><%= link_to prob.prob_title, view_problem_path(prob) %></td>

      <td align="center"> 
        <% if request.grant_access != true %>
    <%= link_to "Grant Access", grant_access_path(request) %>
    <% else %>
    GRANTED
    <% end %>
      </td>
      <td align="center" >
        <%= link_to(User.find(request.user_id).username, user_profile_path(request.user_id)) %>

      </td>
    <td align="center">
      <% @solly = Solution.find_by(:user_id=> request.user_id) %>
      <% if @solly.present? %>
      <%= @solly.satisfaction %>
      <% else %>
      Not Assigned
      <% end %>
    </td>
    </tr>
    <% sno=sno+1 %>
    <%end%>
</tbody>
</table>
<div>
        
        </div>
        </div>
        </div>
               
                </div>
            </div>
            <br>
        </div>



