<style>
  select{
  width: 20%;
  padding: 0px;
  border: 2px solid #ccc;
  border-radius: 0px;
  box-sizing: border-box;
  resize: vertical;
}
</style>
<%= render 'flash_messages' %>
 <div class="container" align="center" style="border-color: black;">
 <%= form_with scope: :filter_tags, url:filter_tags_path, local: true do |form| %>
  <%= check_box 'payment', 'result', {}, 1, 0 %>&nbsp;<strong>Payment</strong>
  <%= check_box 'internship', 'result', {}, 1, 0 %>&nbsp;<strong>Internship</strong>
  <%= check_box 'urgency', 'result', {}, 1, 0 %>&nbsp;<strong>Urgency</strong>
  <%= check_box 'miscellaneous', 'result', {}, 1, 0 %>&nbsp;<strong>Miscellaneous</strong>
  &nbsp;<%= form.select :branch, ["cse","mech","civil"],{include_blank: "Branch"},{ class: 'sample'}%>
  &nbsp;<%= form.select :difficulty, ["easy","medium","hard"],{include_blank: "Difficulty"},{class: 'sample' }%>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <%= form.submit 'Search'%>
  <hr align="center" width="100%">
</div>
  <% end %>
 <div class="wrapper wrapper--w960">
            <div class="card card-4">
                <div class="card-body">
<% temp = @problems.order("created_at DESC") %>
<!-- Problems ddetails -->
<% temp.each do |prob| %>
<div class="list-group">
  
  <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><%= prob.prob_title %></h4>
      <small class="text-muted"><%= distance_of_time_in_words(prob.created_at, Time.now) %></small>
    </div>
    <p class="mb-1"><%= prob.prob_subject %></p>
    <% @tag=Tag.find_by(problem_id: prob.id)%>
    <small class="text-muted">Payment :&nbsp;<%= @tag.payment%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Internship :&nbsp;<%= @tag.internship%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Urgency :&nbsp;<%= @tag.urgency%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Miscellaneous :&nbsp;<%= @tag.miscellaneous%>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Branch :&nbsp;<%= @tag.branch%>&nbsp;&nbsp;&nbsp;&nbsp;Difficulty :&nbsp;<%= @tag.difficulty%>&nbsp;&nbsp;</small>
    <h5 align="right"><%= link_to('View Problem',view_problem_path(prob)) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <%= link_to('Request Access',request_access_path(prob),data: { confirm: 'Press Yes to Confirm?' }) %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h5>

  </a>
</div>
<% end %>
</div>
</div>
</br>
</div>