

 
 <br><br>
<div class="container">
 <%= form_with scope: :filter_tags, url:filter_tags_path, local: true do |form| %>
  <%= check_box 'payment', 'result', {onchange: 'this.form.submit();'}, 1, 0 %>Payment
  <%= check_box 'internship', 'result', {onchange: 'this.form.submit();'}, 1, 0 %>Internship
  <%= check_box 'urgency', 'result', {onchange: 'this.form.submit();'}, 1, 0 %>Urgency
  <%= check_box 'miscellaneous', 'result', {onchange: 'this.form.submit();'}, 1, 0 %>Miscellaneous
   <%= form.select :branch, ["cse","mech","civil"],{include_blank: "Branch"},{ onchange: 'this.form.submit();'}%>
   <%= form.select :difficulty, ["easy","medium","hard"],{include_blank: "Difficulty"},{ onchange: 'this.form.submit();'}%>
</div>
  <% end %>

<% temp = @problems.order("created_at DESC") %>
<!-- Problems ddetails -->
<% temp.each do |prob| %>
<div class="list-group">
  
  <!--<a href="#" class="list-group-item list-group-item-action flex-column align-items-start">-->
    <div class="d-flex w-100 justify-content-between">
      <h4 class="mb-1"><%= prob.prob_title %></h4>
      <small class="text-muted"><%= distance_of_time_in_words(prob.created_at, Time.now) %></small>
    </div>
    <p class="mb-1"><%= prob.prob_subject %></p>
    <% @tag=Tag.find_by(problem_id: prob.id)%>
    <p class="text-muted">Payment :&nbsp;<%= @tag.payment%></p><p>Internship :&nbsp;<%= @tag.internship%></p><p>Urgency :&nbsp;<%= @tag.urgency%></p><p>Miscellaneous :&nbsp;<%= @tag.miscellaneous%></p><p>Branch :&nbsp;<%= @tag.branch%></p><p>Difficulty :&nbsp;<%= @tag.difficulty%>&nbsp;&nbsp;</p>
    <button></button>
  </a>
</div>
<% end %>